/.emacs.d/.last-package-update-day
/.emacs.d/.projectile-bookmarks
/.emacs.d/README.el
/.emacs.d/custom.el
/.emacs.d/elpa/
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/.dap-breakpoints
/.emacs.d/recentf
/.emacs.d/transient/
