/dotemacs/eln-cache/
/dotemacs/elpa/
/dotemacs/auto-save-list/
/dotemacs/snippets/
/dotemacs/custom.el
/dotemacs/README.el
/dotemacs/.projectile-bookmarks
/dotemacs/.cache/
/dotemacs/.lsp
/dotemacs/bookmarks
/dotemacs/recentf
/dotemacs/transient/
/dotemacs/var/
/dotemacs/eshell/
