/.projectile-bookmarks
/custom.el
/dotemacs.el
/elpa/
/recentf
/transient/
/auto-save-list/
/backups/
/.projectile-cache
/#dotemacs.org#
/.last-package-update-day
/projectile-bookmarks.eld
/amx-items
/session.*
/tramp
/.lsp-session-v1
/eshell/
/.cache/
README.el
